<div class="container">
    <ol>
        <li><a [routerLink]="['/first']" routerLinkActive="router-link-active">First</a></li>
        <li><a [routerLink]="['/second']" routerLinkActive="router-link-active">Second</a></li>
        <li><a [routerLink]="['/hobby']" routerLinkActive="router-link-active">Hobby</a></li>
        <li><a [routerLink]="['/allUsers']" routerLinkActive="router-link-active">All Users</a></li>
        <li><a [routerLink]="['/admin']" routerLinkActive="router-link-active">Admin</a></li>
    </ol>
</div>

